.container {
    padding-top:200px;
    .container__input{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 50px auto 100px;
        input{
            padding:10px 30px;
           font-size: 32px;
           border-radius: 6px;
        }
    }
    h1,h2 {
        color: white;
        font-size: 50px;
        font-weight: 900;
        text-align: center;
    }
    
    
    .sections {
        height: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    
        p {
            width: 150px;
            height: inherit;
            background-color: grey;
            border: 1px solid black;
            border-radius: 6px;
        }
    
        .default {
            background-color: grey;
        }
    
        .red {
            background-color: red;
        }
    
        .green {
            background-color: green;
        }
    
        .yellow {
            background-color: yellow;
        }
    }
}

