<div class="container">
  <h1>Password Strength Check</h1>
  <div class="container__input">
    <label for="password"></label>
    <input
      type="password"
      name="password"
      (input)="processUserInput()"
      #input
    />
  </div>

  <div class="sections">
    <p
      #sect1
      [ngClass]="{
        default: indicator === 'void',
        red: indicator === 'easy' || indicator === 'short',
        yellow: indicator === 'medium',
        green: indicator === 'strong'
      }"
    ></p>
    <p
      #sect2
      [ngClass]="{
        default: indicator === 'void',
        red: indicator === 'short',
        yellow: indicator === 'medium',
        green: indicator === 'strong'
      }"
    ></p>
    <p
      #sect3
      [ngClass]="{
        default: indicator === 'void',
        red: indicator === 'short',
        green: indicator === 'strong'
      }"
    ></p>
  </div>
  <h2 *ngIf="indicator !== 'void' && indicator !== 'short'">{{ indicator }}</h2>
</div>
